.man_catalog_container{
    margin: 175px;
    margin-top: 0px;

}
.category_container .road{
    margin-left: 135px;
}
.category_container{
    margin-bottom: 100px;
}
.category_container h1{
    color: black;
}
.all_man_product a{
    color: rgba(18, 18, 18, 1);
}
.man_title{
    color: black;
    font-weight: bolder;
    font-size: 50px;
}
.product_first_line, .product_second_line, .product_third_line, .product_fourth_line{
    display: flex;
    gap: 20px;
}
.product_card{
    margin-top: 100px;
    width: 400px;
    color: black;
    margin-right: 70px;
}
.product_card:hover .product_name_price  {
    color: grey;
}
.product_card:hover .product_name, .product_card:hover .product_card .price  {
    border-bottom: 1px solid grey;
}
.product_card:hover img{
    opacity: 50%;
}
.product_card a{
    color: black;
}
.product_card img{
    width: 400px;
    height: 400px;
}

.product_name_price{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.price{
    font-weight: bolder;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1510px) {
    .product_card{
        width: 350px;
    }
    .product_card img{
        width: 350px;
        height: 350px;
    }
}
@media screen and (max-width: 1360px) {
    .product_card{
        width: 300px;
    }
    .product_card img{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 1281px) {
    .product_card img{
        width: 250px;
        height: 250px;
    }
    .product_card{
        font-size: 14px;
        width: 250px;
    }
    .man_catalog_container{
        margin: 100px;
        margin-top: 0px;
    }
    .product_name{
        font-size: 12px;
    }
}
@media screen and (max-width: 1060px) {
    .product_card img{
        width: 400px;
        height: 400px;
    }
    .product_card{
        font-size: 20px;
        width: 400px;
    }
    .man_catalog_container{
        margin: 100px;
        margin-top: 0px;
    }
    .product_name{
        font-size: 16px;
    }
    
}
@media screen and (max-width: 1040px) {
    .product_card img{
        width: 350px;
        height: 350px;
    }
    .product_card{
        font-size: 15px;
        width: 350px;
    }
    .man_catalog_container{
        margin: 100px;
        margin-top: 0px;
    }
    .product_name{
        font-size: 14px;
    }
    
}
@media screen and (max-width: 940px) {
    .product_card img{
        width: 300px;
        height: 300px;
    }
    .product_card{
        font-size: 15px;
        width: 300px;
    }
    .man_catalog_container{
        margin: 100px;
        margin-top: 0px;
    }
    .product_name{
        font-size: 14px;
    }
    
}
@media screen and (max-width: 840px) {
    .product_card img{
        width: 280px;
        height: 280px;
    }
    .product_card{
        font-size: 13px;
        width: 280px;
    }
    .man_catalog_container{
        margin: 100px;
        margin-top: 0px;
    }
    .product_name{
        font-size: 14px;
    }
    .man_catalog_container{
        margin-left: 60px;
    }
}
@media screen and (max-width: 800px) {
    .product_card img{
        width: 240px;
        height: 240px;
    }
    .product_card{
        font-size: 10px;
        width: 240px;
    }
    .man_catalog_container{
        margin: 100px;
        margin-top: 0px;
    }
    .product_name{
        font-size: 14px;
    }
    
}
@media screen and (max-width: 720px) {
    .product_container{
        margin-left: 0px;
    }
    .category_container{
        margin-left: -30px;
    }
}
@media screen and (max-width: 691px) {
    .product_container{
        margin-left: 0px;
    }
    .category_container{
        margin-left: -30px;
    }
    .product_card img{
        width: 200px;
        height: 200px;
    }
    .product_card{
        font-size: 12px;
        width: 200px;
    }
    .man_catalog_container{
        margin: 100px;
        margin-top: 0px;
    }
    .product_name{
        font-size: 14px;
    }
}
@media screen and (max-width: 611px) {
    .category_container{
        margin-left: -30px;
    }
    .product_card img{
        width: 180px;
        height: 180px;
    }
    .product_card{
        font-size: 12px;
        width: 180px;
    }
    .product_name{
        font-size: 14px;
    }
}
@media screen and (max-width: 571px) {
    .product_card img{
        width: 400px;
        height: 400px;
    }
    .product_card{
        font-size: 18px;
        width: 400px;
    }
    .product_name{
        font-size: 15px;
    }
    .man_catalog_container{
        margin: 50px;
        margin-top: 0px;
    }
}    
@media screen and (max-width: 551px) {
    .product_card img{
        width: 350px;
        height: 350px;
    }
    .product_card{
        font-size: 16px;
        width: 350px;
    }
    .product_name{
        font-size: 13px;
    }
    .man_catalog_container{
        margin: 50px;
        margin-top: 0px;
    }
}    
@media screen and (max-width: 491px) {
    .product_card img{
        width: 300px;
        height: 300px;
    }
    .product_card{
        font-size: 14px;
        width: 300px;
    }
    .product_name{
        font-size: 13px;
    }
    .man_catalog_container{
        margin: 50px;
        margin-top: 0px;
    }
    .man_catalog_container{
        margin-left: 70px;
    }
    .road{
        font-size: 10px;
    }
}
@media screen and (max-width: 435px) {
    .product_card img{
        width: 250px;
        height: 250px;
    }
    .product_card{
        font-size: 14px;
        width: 250px;
    }
    .product_name{
        font-size: 13px;
    }
    .product_card{
        margin-right: 0px;
    }
    .road{
        font-size: 10px;
    }
}
@media screen and (max-width: 311px) {
    .product_card img{
        width: 200px;
        height: 200px;
    }
    .product_card{
        font-size: 14px;
        width: 200px;
    }
}
@media screen and (max-width: 280px) {
    .product_card img{
        width: 200px;
        height: 200px;
    }
    .product_card{
        font-size: 14px;
        width: 200px;
    }
    .product_name{
        font-size: 13px;
    }
    .man_catalog_container{
        margin: 50px;
        margin-top: 0px;
    }
    .road{
        font-size: 8px;
    }
    .category_container{
        margin-left: -60px;
    }
}


/* 
@media screen and (max-width: 1280px) {
    
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 912px) {
    
}
@media screen and (max-width: 820px) {

}
@media screen and (max-width: 768px) {
    
}
@media screen and (max-width: 540px) {
    
}    
@media screen and (max-width: 414px) {
    
}
@media screen and (max-width: 412px) {
    
}
@media screen and (max-width: 393px) {
    
}
@media screen and (max-width: 390px) {
    
}
@media screen and (max-width: 375px) {
    
}
@media screen and (max-width: 360px) {
    
}
@media screen and (max-width: 280px) {
    
} */