.catalog_container{
    gap: 100px;
}
.all_catalog_container{
    margin-bottom: 100px;
}
.all_catalog_container .road{
    margin-left: 135px;
}
.card{
    color: black;
    width: 360px;
    max-width: 100%;
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.card img{
    width: 350px;
    height: 200px;
}
.card-group{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin-left: 100px;
}
.card-title{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    width: 360px;
}

/* .card:hover .card-title{
    background-color: rgba(0, 0, 0, 0.492);
} */
.card:hover{
    /* background-color: rgba(0, 0, 0, 0.47); */
    opacity: 80%;
    transform: scale(1.15);
    transition: 500ms;
}
.road{
    display: flex;
    gap: 50px;
    margin: 45px;
    margin-left: 0px;
    color: black;
}
.road a{
    color: black;
}
/* .man_woman_clothes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.man_clothes{
    background: url(../../assets/catalog/man_clothes.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    cursor: pointer;
    display: flex;
    align-items: end;
}
.man_clothes .for_man{
    background-color: rgba(0, 0, 0, 0.57);
    width: 100%;
    height: 60px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    display: none;
    align-items: center;
    padding-left: 10px;
}
.man_clothes:hover .for_man {
    display: flex;

}
.woman_clothes{
    background: url(../../assets/catalog/woman_clothes.png) no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    cursor: pointer;
    display: flex;
    align-items: end;
}
.woman_clothes .for_woman{
    background-color: rgba(0, 0, 0, 0.57);
    width: 100%;
    height: 60px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    display: none;
    align-items: center;
    padding-left: 10px;
}
.woman_clothes:hover .for_woman{
    display: flex;
} */


@media screen and (max-width: 1390px) {
    .card{
        width: 300px;
        margin-left: 0px;
    }
    .card img{
        width: 290px;
    }
}
@media screen and (max-width: 1210px) {
    .card{
        width: 300px;
        margin-left: -10px;
    }
    .card img{
        width: 290px;
    }

}
@media screen and (max-width: 1120px) {
    .card{
        width: 300px;
        margin-left: -10px;
    }
    .card img{
        width: 290px;
    }
    .all_catalog_container{
        margin-left: -40px;
    }

}
@media screen and (max-width: 1180px) {
    .card{
        width: 250px;
        margin-left: -10px;
    }
    .card img{
        width: 240px;
    }
    .all_catalog_container{
        margin-left: -40px;
    }

}
@media screen and (max-width: 930px) {
    .card{
        width: 350px;
        margin-left: -10px;
    }
    .card img{
        width: 340px;
        height: 150px;
    }
    .all_catalog_container{
        margin-left: -40px;
    }
}
@media screen and (max-width: 840px) {
    .card{
        width: 300px;
        margin-left: -10px;
    }
    .card img{
        width: 290px;
        height: 150px;
    }
    .all_catalog_container{
        margin-left: -40px;
    }
}
@media screen and (max-width: 740px) {
    .card{
        width: 300px;
        margin-left: -20px;
    }
    .card img{
        width: 290px;
        height: 150px;
    }
    .all_catalog_container{
        margin-left: -50px;
    }
}
@media screen and (max-width: 710px) {
    .card{
        width: 250px;
        margin-left: -20px;
    }
    .card img{
        width: 240px;
        height: 150px;
    }
    .all_catalog_container{
        margin-left: -60px;
    }
}
@media screen and (max-width: 600px) {
    .all_catalog_container{
        margin-left: -50px;
    }
    .card{
        width: 450px;
    }
    .card-title{
        width: 450px;
    }
    .card img{
        width: 440px;
        height: 300px;
    }
}
@media screen and (max-width: 540px) {
    .card{
        width: 290px;
    }
    .card-title{
        width: 290px;
    }
    .card img{
        width: 280px;
        height: 240px;
    }
    .all_catalog_container{
        margin-left: 0px;
    }
}
@media screen and (max-width: 430px) {
    .all_catalog_container{
        margin-left: -40px;
    }
    .card{
        width: 280px;
        margin-left: 0px;
    }
    .card-title{
        width: 280px;
    }
}
@media screen and (max-width: 360px) {
    .all_catalog_container{
        margin-left: -50px;
    }
    .card img{
        width: 190px;
        height: 150px;
    }
    .card{
        width: 200px;
    }
    .card-title{
        width: 200px;
    }
}
@media screen and (max-width: 340px) {
    .all_catalog_container{
        margin-left: -70px;
    }
    .card-title{
        width: 200px;
    }
    .card img{
        width: 190px;
        height: 150px;
    }
    .card{
        width: 200px;
    }
}
@media screen and (max-width: 281px) {
    .man_woman_clothes, .kids_clothes_container{
        flex-direction: column; 
        width: 200px;
    }
    .man_clothes,.woman_clothes,.kids_clothes{
        width: 200px;
        height: 200px;
    }
    .clothes_container{
        margin-left: 40px;
        margin-right: 40px;
    }
    .all_catalog_container{
        margin-left: -90px;
    }
    .card img{
        width: 200px;
    }
}