.catalog_container{
    gap: 100px;
}
.all_catalog_container{
    margin-bottom: 100px;
}
.all_catalog_container .road{
    margin-left: 135px;
}
.card{
    color: black;
    width: 360px;
    max-width: 100%;
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    width: 350px;
}
.card-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
}
.road{
    display: flex;
    gap: 50px;
    margin: 45px;
    margin-left: 0px;
    color: black;
}
.road a{
    color: black;
}
/* .man_woman_clothes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.man_clothes{
    background: url(../../assets/catalog/man_clothes.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    cursor: pointer;
    display: flex;
    align-items: end;
}
.man_clothes .for_man{
    background-color: rgba(0, 0, 0, 0.57);
    width: 100%;
    height: 60px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    display: none;
    align-items: center;
    padding-left: 10px;
}
.man_clothes:hover .for_man {
    display: flex;

}
.woman_clothes{
    background: url(../../assets/catalog/woman_clothes.png) no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
    cursor: pointer;
    display: flex;
    align-items: end;
}
.woman_clothes .for_woman{
    background-color: rgba(0, 0, 0, 0.57);
    width: 100%;
    height: 60px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    display: none;
    align-items: center;
    padding-left: 10px;
}
.woman_clothes:hover .for_woman{
    display: flex;
} */
.kids_clothes_container{
    width: 100%;
    display: flex;
    justify-content: center;

}
.kids_clothes{
    /* background: url(../../assets/catalog/kids_clothes.png) no-repeat; */
    /* background-size: cover; */
    width: 400px;
    height: 400px;cursor: pointer;
    display: flex;
    align-items: end;
}
.kids_clothes img{
    width: 400px;
}
.kids_clothes .for_kids{
    background-color: rgba(0, 0, 0, 0.57);
    width: 100%;
    height: 60px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    display: none;
    align-items: center;
    padding-left: 10px;
}

.kids_clothes:hover .for_kids{
    display: flex;
    margin-left: -250px;
}

@media screen and (max-width: 1280px) {
    .clothes_container{
        display: flex;
        flex-direction: column;
    }
    .man_clothes,.woman_clothes,.kids_clothes{
        width: 350px;
        height: 350px;
        background-size: cover;
    }
}
@media screen and (max-width: 920px) {
    .clothes_container{
        margin-left: 95px;
    }
}
@media screen and (max-width: 821px) {
    .man_woman_clothes, .kids_clothes_container{
        display: flex;
        gap: 60px;
    }
    .man_clothes,.woman_clothes,.kids_clothes{
        width: 300px;
        height: 300px;
    }
    .man_woman_clothes{
        flex-direction: row;
    }
    .kids_clothes_container{
        display: flex;
        justify-content: center;
    }
    .card img{
        width: 500px;
    }
    .card{
        width: 550px;
    }
}
@media screen and (max-width: 770px) {
    .clothes_container{
        margin-left: 55px;
    }
}
@media screen and (max-width: 540px) {
    .man_woman_clothes, .kids_clothes_container{
        flex-direction: column; 
        width: 500px;
    }
    .man_clothes,.woman_clothes,.kids_clothes{
        width: 500px;
        height: 500px;
    }
    .clothes_container{
        margin-left: 20px;
        margin-right: 20px;
    }
    .all_catalog_container{
        margin-left: -50px;
    }
    .card{
        width: 350px;
    }
    .card img{
        width: 350px;
    }
}
@media screen and (max-width: 420px) {
    .man_woman_clothes, .kids_clothes_container{
        flex-direction: column; 
        width: 350px;
    }
    .man_clothes,.woman_clothes,.kids_clothes{
        width: 350px;
        height: 350px;
    }
    .clothes_container{
        margin-left: 30px;
        margin-right: 30px;
    }
    .card img{
        width: 280px;
    }
    .all_catalog_container{
        margin-left: -80px;
    }
}
@media screen and (max-width: 400px) {
    .clothes_container{
        margin-left: 19px;
        margin-right: 19px;
    }
    .all_catalog_container{
        margin-left: -60px;
    }
    .card{
        width: 280px;
    }
}
@media screen and (max-width: 376px) {
    .all_catalog_container{
        margin-left: -50px;
    }
    .card img{
        width: 240px;
    }
    .card{
        width: 240px;
    }
}
@media screen and (max-width: 281px) {
    .man_woman_clothes, .kids_clothes_container{
        flex-direction: column; 
        width: 200px;
    }
    .man_clothes,.woman_clothes,.kids_clothes{
        width: 200px;
        height: 200px;
    }
    .clothes_container{
        margin-left: 40px;
        margin-right: 40px;
    }
    .all_catalog_container{
        margin-left: -90px;
    }
    .card img{
        width: 200px;
    }
}