.man_catalog_container{
    margin: 175px;
    margin-top: 0px;

}
.man_title{
    color: black;
    font-weight: bolder;
    font-size: 50px;
}
.product_first_line, .product_second_line, .product_third_line, .product_fourth_line{
    display: flex;
    gap: 20px;
}
.product_card{
    margin-top: 100px;
    width: 500px;
}
.product_card img{
    width: 400px;
    height: 400px;
}

.product_name_price{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.price{
    font-weight: bolder;
    display: flex;
    align-items: end;
}