.product_page{
    margin-bottom: 142px;
}
.card{
    margin-left: 1000px;
}
.product_box .card{
    display: flex;
    align-items: start;
    cursor: default;
    padding: 0px;
    margin: 0px;
}
.all_product_page{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin-left: 100px;
    margin-bottom: 100px;
}
.card{
    margin: 300px;
}
.product_box .card:hover{
    opacity: 100%;
    transform: scale(1);
}
.product_page_container{
    margin: 0px;
    padding: 0px;
    margin-left: -170px;
}
.product_page .road{
    margin-left: 110px;
}
.product_box{
    display: flex;

}

.product_info{
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    /* margin: 110px; */
    margin-left: 0px;
    width: 570px;
    /* height: 600px; */
    
}
.product_info h1{
    margin-top: 0px;
}
.product_full_img{
    display: flex;
    width: 800px;
    /* height: 600px; */
    margin-right: 0px;
    margin-left: 140px;
    margin-top: 20px;
}
.product_img img{
    width: 100px;
    padding: 20px;
}
.big_img_product img{
    width: 500px;
    height: 500px;
}
.product_img{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.product_font{
    border-bottom: 2px solid rgba(154, 255, 74, 1);
}

.product_main, .product_top, .product_behind{
    border-bottom: 1px solid rgba(227, 227, 227, 1);
}
.color{
    display: flex;
}

.info strong{
    padding: 0px;
}

.color_white{
    background: linear-gradient(137.29deg, #EEEEEE 47.98%, #E5E5E5 47.99%);
    width: 30px;
    height: 30px;
    margin-right: 11px;
    cursor: pointer;
}
.color_black{
    background: linear-gradient(137.29deg, #202020 47.82%, #101010 48.61%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.select{
    display: flex;
}
.select_input{
    display: flex;
    gap: 70px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
}
.add_cart{
    color: rgba(18, 18, 18, 1);
    background-color: rgba(154, 255, 74, 1);
    cursor: pointer;
    width: 100%;
}
.add_cart:hover{
    color: rgba(18, 18, 18, 1);
    background-color: rgb(133, 250, 37);
    cursor: pointer;
    width: 100%;
}
/* .card_product{
    display: flex;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    height: 437px;
} */
.card_body_product{
    padding-top: 50px;
}
.review{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 163px;
    align-items: end;
}
.review_mess{
    font-size: 20px;
}
.star img{
    width: 30px;
    height: 30px;
}

.about_product{
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 500px;
}

.size_about_product{
    background-color: yellow;
    width: 35%;
}

.about_product_info ul li{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}


@media screen and (max-width: 1450px) {
    .big_img_product img{
        width: 400px;
        height: 400px;
    }
    .product_full_img{
        width: 600px;
    }
    .about_product{
        padding: 100px 400px;
    }
}
@media screen and (max-width: 1381px) {
    .add_cart{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 35px;
    }
    .product_info{
        width: 470px;
    }
}
@media screen and (max-width: 1150px) {
    .big_img_product img{
        width: 400px;
        height: 400px;
    }
    .product_full_img{
        width: 500px;
    }
    .about_product{
        padding: 100px 300px;
    }
}
@media screen and (max-width: 1050px) {
    .product_full_img{
        margin-left: 120px;
    }
    .about_product{
        padding: 80px 200px;
    }
    .product_full_img{
        width: 450px;
    }
    .product_info{
        width: 400px;
    }
}
@media screen and (max-width: 910px) {
    .product_full_img{
        margin-left: 120px;
    }
    .about_product{
        padding: 80px 200px;
    }
    .product_full_img{
        width: 350px;
    }
    .big_img_product img{
        width: 300px;
        height: 300px;
    }
    .product_info{
        padding-top: 50px;
        width: 350px;
    }
}
@media screen and (max-width: 760px) {
    .product_box{
        flex-direction: column;
        margin-left: 120px;
        margin-bottom: 20px;
    }
    .product_full_img{
        margin-left: 0px;
    }
    .about_product{
        padding: 80px 100px;
    }
    .big_img_product img{
        width: 600px;
        height: 600px;
    }
    .product_info{
        padding-top: 50px;
        width: 650px;
    }
    .product_info h1{
        font-size: 50px;
    }
    .product_info strong{
        font-size: 30px;
    }
}
@media screen and (max-width: 700px) {
    .product_box{
        flex-direction: column;
        margin-left: 120px;
        margin-bottom: 20px;
    }
    .product_full_img{
        margin-left: 0px;
    }
    .about_product{
        padding: 80px 100px;
        padding-left: 140px;
    }
    .big_img_product img{
        width: 500px;
        height: 500px;
    }
    .product_info{
        padding-top: 50px;
        width: 550px;
    }
    .product_info h1{
        font-size: 50px;
    }
    .product_info strong{
        font-size: 30px;
    }
}
@media screen and (max-width: 610px) {
    .product_box{
        flex-direction: column;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .product_full_img{
        margin-left: 0px;
    }
    .about_product{
        padding: 80px 100px;
        padding-left: 140px;
    }
    .big_img_product img{
        width: 400px;
        height: 400px;
    }
    .product_info{
        padding-top: 50px;
        width: 450px;
    }
    .product_info h1{
        font-size: 50px;
    }
    .product_info strong{
        font-size: 30px;
    }
}
@media screen and (max-width: 500px) {
    .product_box{
        flex-direction: column;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .product_full_img{
        margin-left: 0px;
    }
    .about_product{
        padding: 80px 80px;
        padding-left: 140px;
    }
    .big_img_product img{
        width: 300px;
        height: 300px;
    }
    .product_info{
        padding-top: 50px;
        width: 350px;
    }
    .product_info h1{
        font-size: 40px;
    }
    .product_info strong{
        font-size: 20px;
    }
}
@media screen and (max-width: 500px) {
    .product_box{
        flex-direction: column;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .product_full_img{
        margin-left: 0px;
    }
    .about_product{
        padding: 80px 80px;
        padding-left: 140px;
    }
    .big_img_product img{
        width: 300px;
        height: 300px;
    }
    .product_info{
        padding-top: 50px;
        width: 350px;
    }
    .product_info h1{
        font-size: 40px;
    }
    .product_info strong{
        font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    .product_box{
        flex-direction: column;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    .product_full_img{
        margin-left: 0px;
    }
    .about_product{
        padding: 60px 60px;
        padding-left: 120px;
    }
    .big_img_product img{
        width: 200px;
        height: 200px;
    }
    .product_info{
        padding-top: 0px;
        width: 250px;
    }
    .product_info h1{
        font-size: 40px;
    }
    .product_info strong{
        font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    .product_box{
        flex-direction: column;
        margin-left: 80px;
        margin-bottom: 20px;
    }
    .product_full_img{
        margin-left: 0px;
    }
    .about_product{
        padding: 20px 20px;
        padding-left: 80px;
    }
    .big_img_product img{
        width: 200px;
        height: 200px;
    }
    .product_info{
        padding-top: 0px;
        width: 250px;
    }
    .product_info h1{
        font-size: 30px;
    }
    .product_info strong{
        font-size: 15px;
    }
}