.product_page{
    margin-bottom: 142px;
}
.product_page_container{
    margin: 0px;
    padding: 0px;
    margin-left: -170px;
}
.product_page .road{
    margin-left: 110px;
}
.product_box{
    display: flex;

}

.product_info{
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    /* margin: 110px; */
    margin-left: 0px;
    width: 570px;
    /* height: 600px; */
    
}
.product_info h1{
    margin-top: 0px;
}
.product_full_img{
    display: flex;
    margin: 130px;
    width: 800px;
    /* height: 600px; */
    margin-right: 0px;
    margin-top: 20px;
}
.product_img img{
    width: 100px;
    padding: 20px;
}
.big_img_product img{
    width: 500px;
    height: 500px;
}
.product_img{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.product_font{
    border-bottom: 2px solid rgba(154, 255, 74, 1);
}

.product_main, .product_top, .product_behind{
    border-bottom: 1px solid rgba(227, 227, 227, 1);
}
.color{
    display: flex;
}

.info strong{
    padding: 0px;
}

.color_white{
    background: linear-gradient(137.29deg, #EEEEEE 47.98%, #E5E5E5 47.99%);
    width: 30px;
    height: 30px;
    margin-right: 11px;
    cursor: pointer;
}
.color_black{
    background: linear-gradient(137.29deg, #202020 47.82%, #101010 48.61%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.select{
    display: flex;
}
.select_input{
    display: flex;
    gap: 70px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
}
.add_cart{
    color: rgba(18, 18, 18, 1);
    background-color: rgba(154, 255, 74, 1);
    cursor: pointer;
    width: 100%;
}
.add_cart:hover{
    color: rgba(18, 18, 18, 1);
    background-color: rgb(133, 250, 37);
    cursor: pointer;
    width: 100%;
}
/* .card_product{
    display: flex;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    height: 437px;
} */

.review{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 163px;
    align-items: end;
}
.review_mess{
    font-size: 20px;
}
.star img{
    width: 30px;
    height: 30px;
}

.about_product{
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 500px;
}

.size_about_product{
    background-color: yellow;
    width: 35%;
}

.about_product_info ul li{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}


@media screen and (max-width: 1280px) {
    .about_product{
        padding: 100px 300px;
    }
    .big_img_product img{
        width: 500px;
        height: 500px;
    }
    .product_img img{
        width: 70px;
    }
    .product_full_img{
        margin-right: 40px;
    }
    .product_page{
        margin-left: -40px;
    }
    .product_info h1{
        font-size: 20px;
    }
    .review{
        height: 80px;
    }
    .card_product{
        height: 350px;
    }
    .product_box{
        height: 650px;
    }
}
@media screen and (max-width: 1024px) {
    .big_img_product img{
        width: 300px;
        height: 300px;
    }
    .product_img img{
        width: 50px;
    }
    .product_full_img{
        margin-right: 40px;
    }
    .product_page{
        margin-left: -80px;
    }
    .product_info h1{
        font-size: 20px;
    }
    .info strong{
        font-size: 13px;
    }
    .color_white, .color_black{
        width: 20px;
        height: 20px;
    }
    .product_info{
        height: 430px;
    }
}
@media screen and (max-width: 912px) {
    .big_img_product img{
        width: 300px;
        height: 300px;
    }
    .product_img img{
        width: 50px;
    }
    .product_full_img{
        margin-right: 40px;
    }
    .product_page{
        margin-left: -80px;
    }
    .product_info h1{
        font-size: 20px;
    }
    .info{
        padding-bottom: 40px;
    }
    .info strong{
        font-size: 13px;
    }
    .product_box{
        height: 540px;
    }
    .card_product{
        height: 300px;
    }
    .color_white, .color_black{
        width: 20px;
        height: 20px;
    }
    .product_info{
        height: 410px;
    }
    .review{
        height: 50px;
    }
    .review_mess{
        font-size: 15px;
    }
    .star img{
        width: 20px;
        height: 20px;
    }
    .about_product{
        font-size: 12px;
    }
    .product_page_container{
        margin: 0px;
        padding: 0px;
        margin-left: 0px;
    }
}
@media screen and (max-width: 820px) {
    .big_img_product img{
        width: 300px;
        height: 300px;
    }
    .product_img img{
        width: 50px;
    }
    .product_full_img{
        margin-right: 40px;
    }
    .product_page{
        margin-left: -80px;
    }
    .product_info h1{
        font-size: 20px;
    }
    .info{
        padding-bottom: 40px;
    }
    .info strong{
        font-size: 13px;
    }
    .product_box{
        height: 540px;
    }
    .card_product{
        height: 300px;
    }
    .color_white, .color_black{
        width: 20px;
        height: 20px;
    }
    .product_info{
        height: 410px;
    }
    .select_input{
        gap: 10px;
    }
    .select_input select{
        width: 140px;
    }
    .review{
        height: 50px;
    }
    .review_mess{
        font-size: 15px;
    }
    .star img{
        width: 20px;
        height: 20px;
    }
    .about_product{
        font-size: 12px;
    }
    
}
@media screen and (max-width: 820px) {
    
    .big_img_product img{
        width: 300px;
        height: 300px;
    }
    .product_img img{
        width: 50px;
    }
    .product_full_img{
        margin-right: 40px;
    }
    .product_page{
        margin-left: -80px;
    }
    .product_info h1{
        font-size: 20px;
    }
    .info{
        padding-bottom: 40px;
    }
    .info strong{
        font-size: 13px;
    }
    .product_box{
        height: 540px;
    }
    .card_product{
        height: 300px;
    }
    .color_white, .color_black{
        width: 20px;
        height: 20px;
    }
    .product_info{
        height: 410px;
    }
    .review{
        height: 50px;
    }
    .review_mess{
        font-size: 15px;
    }
    .star img{
        width: 20px;
        height: 20px;
    }
    .about_product{
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    .big_img_product img{
        width: 300px;
        height: 300px;
    }
    .product_img img{
        width: 50px;
    }
    .product_full_img{
        margin-right: 0px;
        margin-top: 0px;
    }
    .product_page{
        margin-left: -80px;
    }
    .product_info h1{
        font-size: 30px;
    }
    .info{
        padding-bottom: 40px;
    }
    .info strong{
        font-size: 17px;
    }
    .product_box{
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
    .card_product{
        height: 300px;
    }
    .color_white, .color_black{
        width: 30px;
        height: 30px;
    }
    .product_info{
        height: 610px;
        padding-left: 0px;
        padding-right: 0px;
        width: 710px;
        margin-top: 0px;
    }
    .select_input{
        display: flex;
        justify-content: space-between;
    }
    .select_input select{
        width: 240px;
        height: 40px;
    }
    .review{
        height: 50px;
    }
    .review_mess{
        font-size: 30px;
    }
    .star img{
        width: 30px;
        height: 30px;
    }
    .about_product{
        margin-top: 100px;
        padding-top: 100px;
        font-size: 12px;
    }
    .big_img_product img{
        width: 500px;
        height: 500px;
    }
    .product_img img{
        width: 100px;
        height: 100px;
    }
    
    .product_font{
        border-bottom: 2px solid rgba(154, 255, 74, 1);
    }
    
    .product_main, .product_top, .product_behind{
        border-bottom: 1px solid rgba(227, 227, 227, 1);
    }
}
@media screen and (max-width: 540px) {
    .big_img_product img{
        width: 300px;
        height: 300px;
    }
    .product_img img{
        width: 50px;
    }
    .product_full_img{
        width: 300px;
        margin-right: 0px;
        margin-top: 0px;
    }
    .product_page{
        margin-left: -80px;
    }
    .product_info h1{
        font-size: 30px;
    }
    .info{
        padding-bottom: 40px;
    }
    .info strong{
        font-size: 17px;
    }
    .product_box{
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
    .card_product{
        height: 300px;
    }
    .color_white, .color_black{
        width: 30px;
        height: 30px;
    }
    .product_info{
        height: 610px;
        padding-left: 95px;
        padding-right: 0px;
        width: 510px;
        margin-top: 0px;
    }
    .select_input{
        display: flex;
        justify-content: space-between;
    }
    .select_input select{
        width: 140px;
        height: 20px;
    }
    .review{
        height: 50px;
    }
    .review_mess{
        font-size: 25px;
    }
    .star img{
        width: 25px;
        height: 25px;
    }
    .about_product{
        margin-top: 100px;
        padding-top: 100px;
        font-size: 12px;
        padding: 100px 100px;
        padding-left: 200px;
    }
    .big_img_product img{
        width: 300px;
        height: 300px;
    }
    .product_img img{
        width: 50px;
        height: 50px;
    }
    
    .product_font{
        border-bottom: 2px solid rgba(154, 255, 74, 1);
    }
    
    .product_main, .product_top, .product_behind{
        border-bottom: 1px solid rgba(227, 227, 227, 1);
    }
}    
@media screen and (max-width: 415px) {
    
    .big_img_product img{
        width: 200px;
        height: 200px;
    }
    .product_img img{
        width: 30px;
        height: 30px;
    }
    .product_full_img{
        width: 300px;
        margin-right: 0px;
        margin-top: 0px;
    }
    .product_page{
        margin-left: -80px;
    }
    .product_info h1{
        font-size: 30px;
    }
    .info{
        padding-bottom: 40px;
    }
    .info strong{
        font-size: 17px;
    }
    .product_box{
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
    .card_product{
        height: 300px;
    }
    .color_white, .color_black{
        width: 30px;
        height: 30px;
    }
    .product_info{
        height: 610px;
        padding-left: 110px;
        padding-right: 0px;
        width: 350px;
        margin-top: 0px;
    }
    .select_input{
        display: flex;
        justify-content: space-between;
    }
    .select_input select{
        width: 140px;
        height: 20px;
    }
    .review{
        height: 50px;
    }
    .review_mess{
        font-size: 25px;
    }
    .star img{
        width: 25px;
        height: 25px;
    }
    .about_product{
        margin-top: 100px;
        padding-top: 100px;
        font-size: 12px;
        padding: 100px 100px;
        padding-left: 200px;
    }
}
@media screen and (max-width: 394px) {
    .product_info{
        height: 610px;
        padding-left: 100px;
        padding-right: 0px;
        width: 350px;
        margin-top: 0px;
    }
    .product_info h1{
        font-size: 25px;
    }
}
@media screen and (max-width: 376px) {
    .product_info{
        height: 610px;
        padding-left: 90px;
        padding-right: 0px;
        width: 350px;
        margin-top: 0px;
    }
}
@media screen and (max-width: 360px) {
    .product_info{
        height: 610px;
        padding-left: 110px;
        padding-right: 0px;
        width: 300px;
        margin-top: 0px;
    }
}
@media screen and (max-width: 280px) {
    .product_img img{
        width: 20px;
        height: 20px;
    }
    .big_img_product img{
        width: 150px;
        height: 150px;
    }
    .product_info{
        height: 610px;
        padding-left: 96px;
        padding-right: 0px;
        width: 250px;
        margin-top: 0px;
    }
    .product_info h1{
        font-size: 20px;
    }
    .select_input select{
        width: 100px;
    }
    .star img{
        width: 13px;
        height: 13px;
    }
    .review_mess{
        font-size: 15px;
    }

}