.home_container{
    display: flex;
    gap: 100px;
    /* background: url(./../assets/home/background.png); */
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    padding: 100px;
}
.home_container a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: orange;
    width: 150px;
    height: 50px;
    border-radius: 16px;
}
.home_container a:hover{
    background-color: orangered;
}
/* .to_catalog{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    width: 150px;
    height: 50px;
    border-radius: 16px;
} */
.img_home img{
    width: 800px;
}
.new img{
    width: 300px;
}
.new_text_img{
    height: 500px;
}
.new{
    width: 600px;
    font-weight: bold;
}
.text_new{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    gap: 30px;
}
.new_coll{
    rotate: 90deg;
    padding-top: 100px;
}
.img_new{
    display: flex;
    align-items: end;
}
.big_man_img{
    background: url(./../assets/home/big_man.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.new_big_img{
    
}