.main{
    height: 800px;
    width: 500px;
}

.modal-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none;
    border-radius: 8px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-top: 6px;
    box-sizing: border-box;
    padding-right: 20px;
}