body {
    margin: 0 auto;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 3;
    opacity: 0.5;
}
.modal-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: rgba(153, 194, 255, 0.24);
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 13px;
    padding-bottom: 40px;
    padding-top: 6px;
    box-sizing: border-box;
    position: relative;
    width: 400px;
    z-index: 4;
    min-height: 300px;
    opacity: 1;
}
.exit{
    display: flex;
    justify-content: end;
    align-items: end;
    max-width: 20px;
}
.title-modal {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.modal-container form {
    margin: 20px 0px;
}
.container {
    max-width: 1300px;
    margin: 10px auto;
    min-height: 400px;
}
.center-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 700px;
}
.button-green {
    margin: 5px 0;
    background-color: rgb(173, 188, 230); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
}
.button-green:hover {
    background-color: rgb(118, 153, 241);
}

button{
    cursor: pointer;
}
img{
    cursor: pointer;
}
.error{
    color: red;
}

a{
    color: black;
}



@media and (max-width: 100px) and (min-width: 50px){
    body{

    }
}