.container_reg_image{
    display: flex;
}
.choose_log_in_register a{
    color: rgba(23, 34, 31, 1);
}
.container_1{
    width: 50%;
    height: 100%;
}
.container_2{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-top: 6px;
    box-sizing: border-box;
    padding-right: 20px;
}
.choose_log_in{
    border-bottom: 2px solid rgba(154, 255, 74, 1);
    cursor: pointer;
}
.choose_register{
    cursor: pointer;
}
.exit{
    display: flex;
    justify-content: end;
    width: 100%;
    position: inherit;
}
.remember_text{
    margin: 0px;
}
.choose_log_in_register{
    display: flex;
    gap: 20px;
}
.Sign_in{
    color: white;
}
input{
    background: none;
    width: 360px;
    height: 30px;
    border: 1px solid rgba(23, 34, 31, 1);
    border-radius: 3px;
    padding-left: 10px;
}
.Sign_in{
    background-color: black;
    min-width: 360px;
    min-height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.sign_in_input{
    border-radius: 5px;
    color: white;
}

.Sign_in:hover{
    background-color: rgba(0, 0, 0, 0.604);
}
.e-mail, .password{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}

.forget{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    border-bottom: 1px solid white ;
    height: 100px;
    padding-bottom: 15px;
}

.remember{
    display: flex;
    align-items: center;
    column-gap: 2px;
}


.contact_social_net{
    width: 360px;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid rgba(23, 34, 31, 1);
}
.contact_auth{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin-bottom: 50px;
}

.social_net{
    display: flex;
    justify-content: space-evenly;
}
.reg_image{
    background: url(/src/assets/auth/reg_image.png) no-repeat;
    background-size: cover;
    width: 600px;
}