
.cc{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.auth_box{
    padding: 250px;
    padding-top: 150px;
    padding-left: 50px;
}
.img_box img{
    width: 700px;
}
.cc h2{
    color: black;
}
.auth_reg{
    display: flex;
    justify-content: center;
    gap: 26px;
}
.h2_auth{
    border-bottom: 2px solid rgba(154, 255, 74, 1);
}
.exit{
    display: flex;
    justify-content: end;
    width: 100%;
    position: inherit;
}
.remember_text{
    margin: 0px;
}

.Sign_in{
    color: white;
}
input{
    background: none;
    width: 360px;
    height: 38px;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 10px;
}
.cc .Sign_in input{
    background-color: black;
    width: 360px;
    min-height: 38px;
    border-radius: 3px;
    margin-bottom: 10px;
    color: white;
    margin-bottom: 25px;
    margin-top: 25px;
}

.e-mail, .password{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}

.auth_box .forget{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    border-bottom: 1px solid black ;
    padding-bottom: 50px;
}
.forget a{
    color: black;
}

.remember{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.remember input{
    padding: 0px;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    background-color: black;
}

.mark{
    width: 18px;
    height: 18px;
}

.contact_auth{
    display: flex;
    justify-content: center;
    width: 360px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.social_net{
    display: flex;
    justify-content: space-evenly;
}

.register{
    display: flex;
    flex-direction: column;
    width: 360px;
}
.reg{
    background: none;
    border: 1px solid white;
    box-sizing: border-box;
    width: 360px;
    height: 38px;
    border-radius: 3px;
}

.reg:hover{
    background-color: rgba(255, 255, 255, 0.259);
}
.password{
    margin-bottom: 0px;
}
@media screen and (max-width: 1531px) {
    .img_box img{
        width: 500px;
    }
}
